.post {

}

.post h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.post h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 1.5rem 0 1rem;
}

.post h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 0.7rem;
}

.post img {
    border-radius: 5px;
    margin: 1rem;
    /* padding: 0 2rem; */
}

.post ol, .post ul {
    margin: 1rem 0 1rem 3rem;
}

.post ol li {
    list-style-type: circle;
}

.post ul li {
    list-style-type: decimal;
}

.post ul li div {
    margin: 0 0.5rem;
}

.post strong {
    color: rgb(75, 85, 99);
}

.post p {
    margin: 1rem 0;
}

.postMobile {

}

.linksMobile {
    margin: 0.5rem 1rem;
}