.downloadButton {
    filter: grayscale(1);
    transition: all 300ms ease-out;
}

.downloadButton:hover {
    filter: grayscale(0) drop-shadow(-3px -1px 3px rgba(46, 44, 44, 0.371));
}

.downloadButtonIcon {

}

.downloadButtonText {
    transform: scaleX(0);
    transform-origin: 100% 0%;
    height: 27px;
    padding: 5px 25px 5px 10px;
    margin: 10px -15px 5px 0;
    background-color: #ad3c3c;
    line-height: 1rem;
    border-radius: 8px 0 0 7px;
    z-index: -1;
    color: #ad3c3c;
    font-weight: 200;
    transition: transform 600ms cubic-bezier(0.190, 1.000, 0.220, 1.000), color 300ms 200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

}

.downloadButton:hover .downloadButtonIcon {

}

.downloadButton:hover .downloadButtonText {
    transform: scaleX(1);
    color: white;
}

.richText {

}

.richText h2 {
    color:rgb(59, 59, 59);

}

.richText h3 {
    font-weight: 600;
}

.richText h5 {
    color:rgb(160, 160, 160); 
    font-weight: 300;

}

.richText p {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    border-left: 3px solid rgb(204, 204, 204);
}

.richText ul {
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    border-left: 3px solid rgb(204, 204, 204);
    list-style-type: disc;
}

.richText ul li {
    margin: 0 1.5rem;
    padding: 0.5rem 0;
}

.richText.richTextPlain p {
    border: none;
}

.richTextPlain p h5 {
    margin-top: 1rem;
}
