@tailwind base;
@tailwind components;

    
.container-wide {
        @apply container mx-auto;
}


@tailwind utilities;

.sidebar {
    width: 256px;
}

html, body, #__next {
    width: 100%;
    height: 100%;
}

@layer base {
    h1 {
      @apply text-2xl text-gray-500 font-semibold;
    }
    h2 {
      @apply text-xl text-gray-400;
    }
    p {
        @apply text-gray-600;
    }
  }

  .snippet-tag:after {
    content: "\2022";
    padding: 0 10px;
  }

  .tag.selected {
    background-color: #e7e7e7;
  }


  .tag.selected:focus, .tag.selected:active {
    outline: 0;
  }

  button[disabled] {
    opacity: 0.2;
    border: 0;
  }

  .sidemenu-title {
    line-height: 2rem
  }

  .main-menu {
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px -4px 11px grey;
  }